// Specific CSS for your home-page
.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 100vh;
}

h2.babysitter-title {
  text-align: left;
  margin-left: 268px;
}

p.babysitter-number {
  text-align: left;
  margin-left: 268px;
}
