<!--
  <div id="searchbar">
    <div class="searchbar">
      <form id="searchbar-form" action="/s">
        <div class="searchbar__input-wrapper">
          <label class="searchbar__input">
            <input id="location" type="text" class="input-large input-contrast" autocomplete="off" name="location" placeholder="Location">
          </label>

          <label class="searchbar__input">
            <input id="price" type="number" class="price input-large input-contrast" name="price" placeholder="Price">
          </label>

          <label class="searchbar__input">
            <input id="date" type="datetime" class="date input-large input-contrast" name="date" placeholder="Date">
          </label>
        </div>

        <button id="submit_location" type="submit" class="searchbar__submit btn btn-primary btn-large">
          Search
        </button>
      </form>
    </div>
  </div> -->

  <div id="searchbar">
    <!-- <div class="searchbar"> -->
      <form id="searchbar-form" action="/babysitters">
        <!-- <div class="searchbar__input-wrapper"> -->

            <input id="address" type="search" class="input-large input-contrast" name="address" placeholder="Enter a location..." value="<%= params[:address] %>">

          <input id="price_per_hour" type="number" class="price input-large input-contrast" name="price_per_hour" placeholder="Price in ¥" min="1" max="5000" value="<%= params[:price_per_hour] %>">

            <input id="date" type="date" class="date input-large input-contrast" name="date" placeholder="Add date" min="<%= Date.today %>" value="<%= params[:date] %>">

        <!-- </div> -->

        <button id="submit_location" type="submit" class="searchbar__submit btn btn-primary btn-large">
          <i class="fas fa-search"></i>
        </button>
      </form>
    <!-- </div> -->
  </div>




