
  <div id="searchbar">
    <div class="searchbar">
      <form id="searchbar-form" action="/s">
        <div class="searchbar__input-wrapper">
          <label class="searchbar__input">
            <input id="location" type="text" class="input-large input-contrast" autocomplete="off" name="location" placeholder="Location">
          </label>

          <label class="searchbar__input">
            <input id="price" type="number" class="price input-large input-contrast" name="price" placeholder="Price">
          </label>

          <label class="searchbar__input">
            <input id="date" type="datetime" class="date input-large input-contrast" name="date" placeholder="Date">
          </label>
        </div>

        <button id="submit_location" type="submit" class="searchbar__submit btn btn-primary btn-large">
          Search
        </button>
      </form>
    </div>
  </div>




