<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1563263427-708318a97183?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3452&q=80);">
  <div class="title-main">
    <h1><strong>Find Your Babysitter</strong></h1>
    <h5><em>Providing part-time care for your kids</em></h5>
  </div>

<%= render 'shared/home_search_bar' %>

</div>




