<div class="container mt-5">

  <h1>Bookings</h1>

  <h5>Pending: </h5>
  <ul>
    <% @reservations.each do |reservation| %>
      <li>
      Date: <%= reservation.start_time.strftime("%d %h %Y") %>
      Time: <%= reservation.start_time.strftime("%H:%M") %> - <%= reservation.end_time.strftime("%H:%M") %>,
      Babysitter: <%= reservation.babysitter.user.first_name %>
      </li>
    <% end %>
  <ul>

  <h5>Confirmed: </h5>

  <h5>Past: </h5>

  <h5>Canceled: </h5>

</div>
