.card-product {
  overflow: hidden;
  height: 500px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  flex-grow: 3;
}

.card-product img {
  height: 100%;
  width: 240px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.reserve-form {
  width: 300px;
  height:500px;
  background-color: #F8D55B;
  padding: 5px;
  // .container {
  //   margin-top:10px;
  //   margin-bottom:10px;
  // }
}

.reserve-container {
  display: flex;
  justify-content: space-between;
  width: 1120px;
}

.btn-outline-info {
  border-radius: 4px;
}
