.become-babysitter-form {
  width: 592px;
  height:500px;
  background-color: #F8D55B;
  padding: 32px;
  border-radius:32px;
  color: white;
  h1 {
    text-shadow:1px 1px 2px #A9A9A9;
  }
}


.btn-light {
  border-radius: 4px;
}


// #F8D55B

.babysitter-form-container {
  display: flex;
  justify-content: center;
}
