.cards {
  display: flex;
}
.card-remove-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

}

.card-category {
  background-size: cover;
  background-position: center;
  height: 240px;
  width: 900px;
  color: black;
  font-size: 20px;
  font-weight: light;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 16px;
}

.top-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 180px;
  a {
    text-decoration: none;
  }
}

.border-top {
  font-weight: light;
  text-align: right;
  margin-right: 42px;
  p {
    margin-top: 10px;
    font-weight:light;
  }
}

.avatar-large {
  width: 130px;
  border-radius: 50%;
}

.row {
  justify-content: center;
  position: relative;
}

.card-bookings {
  height: 120px;
  display: flex;
  img {
    height: 100%;
  }
}


///////////tab cards//////////////////////
.card-bookings {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-bookings img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}


.card-bookings h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-bookings p {
  font-size: 16px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-bookings-infos {
  margin-left: 8px;
}

.card-bookings .card-bookings-infos {
  padding: 16px;
}

p.stars.mt-3 {
  color: #fad859;
  text-shadow: none;
}

/////////////////////////////


// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
