.navbar-lewagon {
  justify-content: space-between;
  background: #F8D55B;
  h2 {
    font-weight: bold;
  }
  a {
    font-weight: bold;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
