.navbar-lewagon {
  justify-content: space-between;
  background: #F8D55B;
  // transition: background-color 0.5s ease;
  h2 {
    font-weight: 700;
    font-size: 28px;
    letter-spacing: 1px;
    transition:.6s ease;
    &:hover {
    color: white;
    }
  }
  a {
    font-weight: bold;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
