
.w3-row {
  display: flex;
  border-bottom: 1px solid #999696 ;
  a {
    font-size: 24px;
    text-decoration: none;
    color: #999696;

  }
}
.w3-row a:hover{
  color:  #585858;
}

.w3-third {
  margin: 10px;
}

.w3-container {
  margin: 10px;
}

.w3-active {
  color: black;
  background-color: #F8D55A;
  border-radius: 5px;
  width: 140px;
  height: 46px;
  text-align: center;
  margin-bottom: 0px;
  a {
    font-style: bold;

  }
}


.accept-btn {
  background-color: #f8d55a;
  border-radius: 24px;
  border: transparent;
  padding:7px 24px;
  font-weight:bold;
  margin-left: 120px;
  &:hover{
    background-color: #f7c933;
    color: white;
    transition: all .7s ease;
  }
}
.reject-btn {
  background-color: black;
  color: white;
  border-radius: 24px;
  border: transparent;
  padding:7px 24px;
  font-weight:bold;
  margin-left: 4px;
  &:hover{
    background-color: #2d2c2c;
    color: white;
    transition: all .7s ease;
  }
}

.accept-btn-user-profile {
  background-color: #f8d55a;
  border-radius: 24px;
  border: transparent;
  padding:7px 24px;
  font-weight:bold;
  margin-left: 0px;
  &:hover{
    background-color: #f7c933;
    color: white;
    transition: all .7s ease;
  }
}
